$primary-color: #1b2386;
$secondary-color: #f6f6f6;
$tertiary-color: #fc693c;
$accent-color: #5dfc8a; // #35FF69 ?
$text-color: #030909;

$main-font: 'Montserrat', sans-serif;
$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700,
);